<template>
  <div>
    <section class="body-container">
      <main class="wrapper">
        <div class="headline">
          <time class="tiny">{{ ( new Date(project.fields.publishDate)).toDateString().slice(11) }}</time>
          <h1>{{ project.fields.title }}</h1>
          <nuxt-link
            v-for="tag in project.fields.tags"
            :key="tag"
            :to="{ name: 'tags-tag', params: { tag: tag }}" class="tag">{{ tag }}
          </nuxt-link>
          <!-- <a onclick="window.history.go(-1); return false;">Back</a> -->
        </div>
        <div class="copy">
          <vue-markdown>{{project.fields.body}}</vue-markdown>
        </div>
      </main>
      <a onclick="window.history.go(-1); return false;" class="go-back">Back</a>
    </section>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import {createClient} from '~/plugins/contentful.js'

const client = createClient()

export default {
  asyncData ({ env, params }) {
    return client.getEntries({
      'content_type': env.CTF_PROJECT_POST_TYPE_ID,
      'fields.slug': params.slug
    }).then(entries => {
      return {
        project: entries.items[0]
      }
    })
    .catch(console.error)
  },
  components: {
    VueMarkdown
  }
}
</script>

<style>

.foreground .page-bar {
  border-bottom: 0;
}

.headline {
  padding: 3em 0 0;
}

.headline h1 {
  font-size: 3.5em;
}

.copy {
  padding-bottom: 3em;
}

.copy *:not(div) {
  margin: 2em 0 1em;
}

.copy h3 {
  font-size: 1.35em;
}

.copy ul {
  margin: 0;
  padding-left: 1em;
  list-style: disc;
}

.copy li {
  margin: 0;
}

.go-back {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10%; 
}
</style>
