<template>
  <div>
    <section class="body-container">
      <div class="items-bar wrapper">
        <h2>Projects ({{ projects.length }} apps)</h2>
      </div>
      <ul class="items-list wrapper item-preview">
        <li class="item" v-for="project in projects">
          <project-preview :project="project"></project-preview>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import {createClient} from '~/plugins/contentful.js'
import ProjectPreview from '~/components/project-preview.vue'

const client = createClient()

export default {
  asyncData ({ env, params }) {
    return client.getEntries({
      'content_type': env.CTF_PROJECT_POST_TYPE_ID,
      order: '-fields.publishDate'
    }).then(entries => {
      return {
        projects: entries.items
      }
    })
  },
  components: {
    ProjectPreview
  }
}
</script>

<style>
.item-preview {
  display: flex;
  flex-wrap: wrap;
}
</style>
