<template>
  <article>
    <img v-if="post.fields.heroImage" class="thumbnail"
        :src="post.fields.heroImage.fields.file.url">
    <time class="tiny date">{{ ( new Date(post.fields.publishDate)).toDateString() }}</time>
    <h4><nuxt-link :to="{ name: 'blog-slug', params: { slug: post.fields.slug }}" class="title">{{ post.fields.title }}</nuxt-link></h4>
    <!-- <p>{{ post.fields.description ||  post.fields.body.substring(0, 150).replace(/#/gi, '') }}</p> -->

    <div class="tags">
      <nuxt-link
        v-for="tag in post.fields.tags"
        :key="tag"
        :to="{ name: 'tags-tag', params: { tag: tag }}" class="tag">{{ tag }}
      </nuxt-link>
    </div>
  </article>
</template>

<script>
export default {
  props: ['post']
}
</script>

<style>
  .thumbnail {
    margin-bottom: 1em;
  }

  .date {
  }

  .title {
    text-decoration: none;
    font-size: 22px;
    color: #373F49;
  }
</style>
