<template>
  <section class="footer">
    <Social></Social>
    <p class="footer-text tiny">Built with Vue.js | Contentful API | Hosted on Netlify</p>
  </section>
</template>

<script>
import Social from '~/components/social.vue'

export default {
  components: {
    Social
  }
}
</script>

<style>
  .footer {
    padding: 2em;
    background: #a8edea; 
    text-align: right;
}
</style>
