<template>
  <header class="article header">
    <div class="foreground">
      <div class="page-bar wrapper">
        <a href="/" class="person-name">Salie Lim</a>
        <nav role="navigation" class="top-nav">
          <ul class="menu">
            <!-- <li v-if="!/\/.*?\/.*/.test(route.path)" v-for="route in this.$router.options.routes">
              <nuxt-link :to="{ name: route.name }">{{ route.name.charAt(0).toUpperCase() + route.name.slice(1) }}</nuxt-link>
            </li> -->
            <li><router-link to="/about">About</router-link></li>
            <li><router-link to="/projects">Projects</router-link></li>
            <li><router-link to="/blog">Blog</router-link></li>
            <li><router-link to="/contact">Contact</router-link></li>
          </ul>
        </nav>
      </div>
      <!-- <div class="page-info wrapper"></div> -->
    </div>
  </header>
</template>

<style>
.home:link,
.home:visited {
  width: 50%;
  display: inline-block;
}

.person-name:link,
.person-name:visited {
  display: inline-block;
  font-size: 1.8em;
  text-decoration: none;
  color: #727778;
  letter-spacing: 10px;
  font-weight: 900;
}

.top-nav {
  width: 100%;
  display: inline-block;
  text-align: right;
}

.menu {
  display: inline-block;
}

.menu li {
  display: inline-block;
  margin-left: 1em;
}

.menu a:link,
.menu a:visited {
  color: #727778;
  text-decoration: none;
  letter-spacing: 6px;
  font-size: 20px;
  margin: 1em;

  /* gradient highlight effect */
  background-image: linear-gradient(to top, #80e5e2  0%, #f2a7c1 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.menu a:hover {
  background-size: 100% 88%;
}

.nuxt-link-active {
  background: linear-gradient(to top, #80e5e2  0%, #f2a7c1 100%) !important;
}
</style>
