<template>
  <article>
      <!-- <img v-if="project.fields.heroImage" class="thumbnail"
        :src="project.fields.heroImage.fields.file.url + '?fit=scale&w=350&h=196'"
        :srcset="`${project.fields.heroImage.fields.file.url}?w=350&h=196&fit=fill 350w, ${project.fields.heroImage.fields.file.url}?w=1000&h=562&fit=fill 1000w, ${project.fields.heroImage.fields.file.url}?w=2000&h=1125&fit=fill 2000w`"
        sizes="(min-width: 1024px) 400px, 100vw"
      > -->
      <img v-if="project.fields.heroImage" class="thumbnail"
        :src="project.fields.heroImage.fields.file.url">
      <time class="tiny date">{{ ( new Date(project.fields.publishDate)).toDateString().slice(11) }}</time>
      <!-- <h4><nuxt-link :to="{ name: 'project-slug', params: { slug: project.fields.slug }}" class="title">{{ project.fields.title }}</nuxt-link></h4> -->
      <h4 class="project-title">{{ project.fields.title }}</h4>
      <span v-if="project.fields.demo"><a :href="project.fields.demo" target="_blank">Demo</a></span> 
      <span v-if="project.fields.git"> | </span>
      <span v-if="project.fields.git"><a :href="project.fields.git" target="_blank">GitHub</a></span>
      <p>{{ project.fields.description }}</p>

      <div class="tags">
        <nuxt-link
          v-if="project.fields.tags"
          v-for="tag in project.fields.tags"
          :key="tag"
          :to="{ name: 'tags-tag', params: { tag: tag }}" class="tag">{{ tag }}
        </nuxt-link>
      </div>
  </article>
</template>

<script>
export default {
  props: ['project']
}
</script>

<style>
  .thumbnail {
    margin-bottom: 1em;
    width: 20em;
    height: auto;
  }

  .date {
  }

  .title {
    text-decoration: none;
    font-size: 22px;
    color: #373F49;
  }

  .project-title {
    color: #373F48;
    text-decoration: none;
    font-size: 21px;
  }
</style>
