<template>
  <div class="container">
    <Navigation></Navigation>
    <main role="main">
      <nuxt/>
    </main>
    <Footer></Footer>
  </div>
</template>

<script>
  import Greeting from '~/components/greeting.vue'
  import Navigation from '~/components/navigation.vue'
  import Footer from '~/components/footer.vue'

  export default {
    components: {
      Greeting,
      Navigation,
      Footer
    }
  }
</script>

<style>
  @font-face {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    src: url("~/static/avenir-400.woff2") format("woff2");
    font-display: swap;
  }

  body {
    background: #ffffff;
    /* max-width: 1180px; */
    margin: 0 auto;
    font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.65;
    color: #727778;
  }

  .wrapper {
    padding-top: 3.5em;
    max-width: 80%;
    margin: 0 auto;
  }

  .header {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);;  
  }

  .page-bar {
    width: 100%;
    display: inline-block;
    text-align: right;
    padding: 2em 10%;
    /* margin-left: 9em; */
  }

  .blog.header h2,
  .tag-page.header h2 {
    text-align: center;
    letter-spacing: 13px;
    color: #A0A0A0;
  }

  img {
    display: block;
    width: 100%;
  }

  h1,
  h2,
  h3 {
    font-size: 2em;
  }

  /* Copy section */
  .body-container {
    background: #ffffff;
  }

  .items-list {
    overflow: hidden;
  }

  .item {
    padding: 1em 3em 1em 0;
  }

  @media all and (min-width: 600px) {
    .item {
      float: left;
      width: 50%;
    }
  }

  @media all and (min-width: 900px) {
    .item {
      width: 33.333%;
    }

    .page-bar {
      margin-left: 9em;
    }
  }

  /* Shared */

  .tiny {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.2px;
    color: #A0A0A0;
  }

  *[class*="-bar"] {
    /* border-bottom: 1px solid #EBEBEB; */
  }

  /* Tags */
  .tags {
      padding : 1em 0;
      margin-bottom: 2em;
    }

    .tag:link,
    .tag:visited {
      color: #A0A0A0;
      text-decoration: none;
      display: inline-block;
      padding: .33333rem .5rem;
      line-height: 1;
      border-radius: 2px;
      border: 1px solid #A0A0A0;
      margin-right: .5em;
      background: none;
    }

    .tag:active,
    .tag:hover,
    .tag:focus {
      color: #606060;
      border-color: #606060;
      background: none;
    }

  /* Links */
  a {
    cursor: pointer;
    color: #727778;
    text-decoration: none;
    font-size: 16px;

    /* gradient highlight effect */
    background-image: linear-gradient(to top, #80e5e2  0%, #f2a7c1 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }

  a:hover {
    background-size: 100% 88%;
  }
</style>
