<template>
  <div>
    <section class="body-container">
      <main class="wrapper">
        <div class="headline">
          <time class="tiny">{{ ( new Date(post.fields.publishDate)).toDateString() }}</time>
          <h1>{{ post.fields.title }}</h1>
          <nuxt-link
            v-for="tag in post.fields.tags"
            :key="tag"
            :to="{ name: 'tags-tag', params: { tag: tag }}" class="tag">{{ tag }}
          </nuxt-link>
          <!-- <a onclick="window.history.go(-1); return false;">Back</a></br> -->
        </div>
        <div class="copy">
          <vue-markdown>{{post.fields.body}}</vue-markdown>
        </div>
      </main>
      <a onclick="window.history.go(-1); return false;" class="go-back">Back</a>
    </section>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import {createClient} from '~/plugins/contentful.js'

const client = createClient()

export default {
  asyncData ({ env, params, post }) {
    return client.getEntries({
      'content_type': env.CTF_BLOG_POST_TYPE_ID,
      'fields.slug': params.slug
    }).then(entries => {
      return {
        post: entries.items[0]
      }
    })
    .catch(console.error)
  },
  head (client) {
    return {
      title: `Salie Lim | ${this.post.fields.seoTitle || this.post.fields.title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.post.fields.seoDescription || this.post.fields.body.substring(0, 300) }
      ]
    }
  },
  components: {
    VueMarkdown
  }
}
</script>

<style>

.foreground .page-bar {
  border-bottom: 0;
}

.headline {
  padding: 3em 0 0;
}

.headline h1 {
  font-size: 3.5em;
}

.copy {
  padding-bottom: 3em;
}

.copy *:not(div) {
  margin: 2em 0 1em;
}

.copy h3 {
  font-size: 1.35em;
}

.copy ul {
  margin: 0;
  padding-left: 1em;
  list-style: disc;
}

.copy li {
  margin: 0;
}

.go-back {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10%; 
}
</style>
