<template>
  <div>
    <section class="body-container">
      <div class="items-bar wrapper">
        <h2>Blog ({{ posts.length }} posts)</h2>
      </div>
      <ul class="items-list wrapper item-preview">
        <li class="item" v-for="post in posts">
          <article-preview :post="post"></article-preview>
        </li>
      </ul> 
    </section>
  </div>
</template>

<script>
import {createClient} from '~/plugins/contentful.js'
import ArticlePreview from '~/components/article-preview.vue'

const client = createClient()

export default {
  asyncData ({ env, params }) {
    return client.getEntries({
      'content_type': env.CTF_BLOG_POST_TYPE_ID,
      order: '-fields.publishDate'
    }).then(entries => {
      return {
        posts: entries.items
      }
    })
  },
  components: {
    ArticlePreview
  }
}
</script>

<style>
.item-preview {
  display: flex;
  flex-wrap: wrap;
}
</style>
