<template>
  <div>
    <section class="body-container">
      <main class="wrapper">
        <div class="headline">
          <time class="tiny">Last Updated: Apr 28 2018</time>
          <h1>About</h1>
        </div>
        <div class="card">
          <img src="~/assets/salie-pic.jpg" alt="Salie Lim" class="card-img">
          <div class="card-container">
            <h3><b>Salie Lim</b></h3> 
            <p>API Developer</p>
            </br>
            <Social></Social>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="location-icon"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg></svg>Singapore
          </div>
        </div>
        <div class="copy">
          Hi there, thanks for stopping by. This is my little spot on the internet where I blog about software development. I’m an introvert who would like to make new contacts, feel free to email or add me on social media.
        </div>
      </main>
    </section>
  </div>
</template>

<script>
import Social from '~/components/social.vue'

export default {
  components: {
    Social
  }
}
</script>

<style>
.foreground .page-bar {
  border-bottom: 0;
}

.headline {
  padding: 3em 0 0;
}

.headline h1 {
  font-size: 3.5em;
}

.copy {
  padding-bottom: 3em;
}

.copy *:not(div) {
  margin: 2em 0 1em;
}

.copy h3 {
  font-size: 1.35em;
}

.copy ul {
  margin: 0;
  padding-left: 1em;
  list-style: disc;
}

.copy li {
  margin: 0;
}

.img-self {
  width: 25%;
}

/* Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 25px;
}

.card-img {
  width: 300px;
  border-radius: 25px 25px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 1em 2em;
  margin-bottom: 3em;
}

.location-icon {
  width: 23px;
  height: 16px;
  color: #373f49;
}

@media all and (max-width: 600px) {
  .card {
    width: 100%;
    border-radius: 25px;
  }

  .card-img {
    width: 100%;
  }
}
</style>
