<template>
  <div>
    <section class="body-container">
      <main class="wrapper">
        <div class="headline">
          <time class="tiny">Last Updated: Apr 28 2018</time>
          <h1>Contact</h1>
        </div>
        <div class="copy">
          I'm open to jobs and freelance opportunities so feel free to contact me at <a href="mailto:contact@salielim.com" :aria-label="`saliebe on Instagram`" target="_blank">contact@salielim.com</a> for a chat or a copy of my resume.
        </div>
        <form name="contact" class="container--form" netlify-honeypot="bot-field" action="/thank-you" method="post" netlify>
          <input type="hidden" name="form-name" value="contact" />
          <label class="form-label" for="name">
            Name:
          </label>
          <input class="form--field" name="name" id="name" />
          <label class="form-label" for="email">
            Email:
          </label>
          <input class="form--field" name="email" id="email" />
          <label class="form-label" for="message">
            Tell me more:
          </label>
          <textarea class="form--field" name="message" id="message"></textarea>
          <input type="submit" value="Send message" />
          <p class="hidden"><label>Don’t fill this out: <input name="bot-field"></label>   </p>
        </form>
      </main>
    </section>
  </div>
</template>

<style>

.foreground .page-bar {
  border-bottom: 0;
}

.headline {
  padding: 3em 0 0;
}

.headline h1 {
  font-size: 3.5em;
}

.copy {
  padding-bottom: 3em;
}

.copy *:not(div) {
  margin: 2em 0 1em;
}

.copy h3 {
  font-size: 1.35em;
}

.copy ul {
  margin: 0;
  padding-left: 1em;
  list-style: disc;
}

.copy li {
  margin: 0;
}

/* Form */
.container--form {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.form--field {
  padding: 6px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #727778;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-radius: 1px;
  box-sizing: border-box;
  color: #727778;
  font-size: 20px;
}

.form--field:focus {
  outline: 0;
  border: 1px dashed #727778;
}

input[type=submit] {
  width: 100%;
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #727778;
  text-decoration: none;
  background-color: #fffff;
  cursor: pointer;
  border: transparent !important;
  margin: 1em 0 5em 0;

  /* gradient highlight effect */
  background-image: linear-gradient(to top, #80e5e2  0%, #f2a7c1 100%);
  background-repeat: no-repeat;
  background-size: 15em 0.2em;
  background-position: 50% 100%;
  transition: background-size 0.25s ease-in;
}

input[type=submit]:hover {
  background-size: 10em 100%;
}

input[type=submit]:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.menu a:link,
.menu a:visited {
  color: #727778;
  text-decoration: none;
  letter-spacing: 6px;
  font-size: 20px;
  margin: 1em;

  /* gradient highlight effect */
  background-image: linear-gradient(to top, #80e5e2  0%, #f2a7c1 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.menu a:hover {
  background-size: 100% 88%;
}
</style>
