<template>
  <div>
    <!-- <header class="home header"> -->
      <!-- <div class="picture">
        <img :src="person.fields.image.fields.file.url + '?w=1200'">
      </div> -->
      <div class="foreground">
        <div class="hero">
          <a href="/" class="hero-heading">Hi I'm Salie,</a>
          <h2>{{ person.fields.title }}</h2>
          <p>{{ person.fields.shortBio }}</p>

    <a href="/blog" class="read-more tiny">Read more...</a>
          <Social></Social>
        </div>
      </div>
    <!-- </header> -->
    <!-- <section class="body-container" id="recent-articles">
      <div class="items-bar wrapper">
        <h2>Recent articles</h2>
      </div>
      <ul class="items-list wrapper">
        <li class="item" v-for="post in posts">
          <article-preview :post="post"></article-preview>
        </li>
      </ul>
    </section> -->
  </div>
</template>

<script>
import {createClient} from '~/plugins/contentful.js'
import Social from '~/components/social.vue'
import ArticlePreview from '~/components/article-preview.vue'

const client = createClient()

export default {
  asyncData ({env}) {
    return Promise.all([
      client.getEntries({
        'sys.id': env.CTF_PERSON_ID
      }),
      client.getEntries({
        'content_type': env.CTF_BLOG_POST_TYPE_ID,
        order: '-fields.publishDate'
      })
    ]).then(([entries, posts]) => {
      return {
        person: entries.items[0],
        posts: posts.items
      }
    }).catch(console.error)
  },
  components: {
    Social,
    ArticlePreview
  }
}
</script>

<style>

.home.header {
  overflow: hidden;
  position: relative;
  height: 150vw;
  min-height: 680px;
  max-height: 310px;
  color: #727778;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.home .person-name:link,
.home .person-name:visited {
  color: #727778;
}

.home .menu a:link,
.home .menu a:visited {
  color: #727778;
}

.home .page-bar {
  border-bottom: none;
}

.home .page-info {
  padding-top: 3%;
}

.hero {
  height: 580px;
  padding: 2em 10%;
  background-image: linear-gradient(to bottom, #a8edea 0%, #EBF8EC 100%);
}

.home .page-info h2 {
  font-size: 1.5em;
  letter-spacing: 10px;
}

.picture {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  width: 150%;
}

.hero-heading {
  font-size: 2em;
  letter-spacing: 5px;
}

@media all and (min-width: 600px) {
  .picture {
    /* left: 20%; */
    width: 100%;
  }

  .home.header {
    min-height: 560px;
  }

  .hero-heading {
    font-size: 3em;
  }
}

.foreground {
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.foreground p {
  margin-bottom: 1em;
  letter-spacing: 1px;
}

.read-more {
  text-decoration: none;
}
</style>
