<template>
  <div>
    <section class="body-container">
      <main class="wrapper">
        <div class="headline">
          <h1>Thank You</h1>
        </div>
        <div class="copy">
          I'll get back to you in a day or two.
        </div>
      </main>
    </section>
  </div>
</template>

<style>

.foreground .page-bar {
  border-bottom: 0;
}

.headline {
  padding: 3em 0 0;
}

.headline h1 {
  font-size: 3.5em;
}

.copy {
  padding-bottom: 3em;
}

.copy *:not(div) {
  margin: 2em 0 1em;
}

.copy h3 {
  font-size: 1.35em;
}

.copy ul {
  margin: 0;
  padding-left: 1em;
  list-style: disc;
}

.copy li {
  margin: 0;
}
</style>
